.classe1{
    ul{
        background-color: rgb(72, 230, 72);
    }

    li{
        background-color: blue;
    }

    button{
        background-color: yellow;
        color: white;
        cursor: pointer;
        
        &:hover{ 
            background-color: black;
            transition: 0.5s;
        }
    }
}